@font-face {
    font-family: 'DATEON' ;
    src: url(FONTE-DATEON.ttf) format('truetype');
}

*{
    font-family: 'DATEON',sans-serif;
    color: white;
}

body{
    background-color: rgb(34, 34, 34);
}